/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --background: 100% 0 0;
  --foreground: 20% 0 0;
  --primary: 60% 0.15 270;
  --primary-foreground: 98% 0.03 270;
  --secondary: 80% 0.1 150;
  --secondary-foreground: 10% 0.02 150;
  --tertiary: 70% 0.12 50;
  --tertiary-foreground: 10% 0.02 50;
}

.PopoverContent {
	animation-duration: 0.6s;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
.PopoverContent[data-side="top"] {
	animation-name: slideUp;
}
.PopoverContent[data-side="bottom"] {
	animation-name: slideDown;
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

