@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type='range']::-webkit-slider-thumb {
  @apply appearance-none w-6 h-6 bg-white border-[3px] border-solid border-[#6a38c2] rounded-full cursor-pointer pointer-events-auto transition-all duration-200 hover:scale-110;
}

input[type='range']::-moz-range-thumb {
  @apply appearance-none w-6 h-6 bg-white border-[3px] border-solid border-[#6a38c2] rounded-full cursor-pointer pointer-events-auto transition-all duration-200 hover:scale-110;
} */

input[type='range']::-webkit-slider-thumb {
  @apply appearance-none w-[1.125rem] h-[1.125rem] -mt-2.5 bg-blue-600 rounded-full cursor-pointer pointer-events-auto;
}

input[type='range']::-moz-range-thumb {
  @apply appearance-none w-[1.125rem] h-[1.125rem] -mt-2.5 bg-blue-600 rounded-full cursor-pointer pointer-events-auto;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components {
  .swiper-pagination-bullet {
		@apply relative w-2 h-2 cursor-pointer transition-all !rounded-full bg-blue-500/20 block [&.is-active]:bg-blue-500 [&.is-active]:w-8;
	}
}


.products-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  max-width: 768px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .products-list {
    grid-template-columns: 1fr 1fr;
  }
}

.product-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-info {
  padding: 20px;
}

.product-title {
  font-size: 24px;
  margin: 0 0 10px;
}

.product-category,
.product-brand {
  display: inline-block;
  background-color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  margin-right: 5px;
}

.product-description {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}

.product-props {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.product-original-price {
  text-decoration: line-through;
  color: #999;
  font-size: 16px;
  margin-left: 10px;
}

.product-rating {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.star-rating {
  color: #ffd700;
  font-size: 18px;
  margin-right: 5px;
}

.add-to-cart {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.add-to-cart:hover {
  background-color: #45a049;
}

.to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #45a049;
  border: none;
  cursor: pointer;
}

